In [1]:
from config import api_key
import xml.etree.ElementTree as ET
import requests 
import xmltodict
import json
import pprint
import pandas as pd

In [2]:
path = "../Resources/bestsellers with categories.csv"
df = pd.read_csv(path)
df.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [3]:
#sort DataFrame by 'User Rating'
df = df.sort_values("User Rating",ascending=False)

In [4]:
#Drop duplicates
df = df.drop_duplicates('Author')

In [5]:
#convert authors'names into a list
author_list = df['Author'].tolist()

In [6]:
len(author_list)

248

In [7]:
# get Authors' ID

In [ ]:
authors_name_and_ids = []
for name in author_list:

    query=name
    url = f"https://www.goodreads.com/api/author_url/{query}?key={api_key}"

    r = requests.get(url)
    root = ET.fromstring(r.text)
    tree = ET.ElementTree(root)
    tree.write("list.xml")

    with open("list.xml") as xml_file:
        data_dict = xmltodict.parse(xml_file.read())
        xml_file.close()

    json_data = json.dumps(data_dict)
    with open("data.json","w") as json_file:
        json_file.write(json_data)
        
    
    with open("data.json") as f:
        data = json.load(f)
        authors_name_and_ids.append(data)

In [ ]:
author_id_list=[]
author_name_list=[]
author_link_list=[]

for info in authors_name_and_ids:
    if "author" in info['GoodreadsResponse']:
        author_id = info['GoodreadsResponse']['author']['@id']
        author_name = info['GoodreadsResponse']['author']['name']
        author_link = info['GoodreadsResponse']['author']['link']

        author_id_list.append(info['GoodreadsResponse']['author']['@id'])
        author_name_list.append(author_name)
        author_link_list.append(author_link)
    else:
        pass

In [ ]:
df_author = pd.DataFrame({"author_id":author_id_list,
                          "author_name":author_name_list,
                          "author_link":author_link_list})

In [ ]:
df_author

In [ ]:
#API pull Authors Information

In [11]:
author_info_list = []
for id in author_id_list:
    query = id
    url=f'https://www.goodreads.com/author/show/{id}?&key={api_key}'
    r = requests.get(url)
    root = ET.fromstring(r.text)
    tree = ET.ElementTree(root)
    tree.write("author_info.xml")

    with open("author_info.xml") as xml_file:
        data_dict = xmltodict.parse(xml_file.read())
        xml_file.close()

    json_data = json.dumps(data_dict)
    with open("author_info.json","w") as json_file:
        json_file.write(json_data)
        

    with open("author_info.json") as f:
        data = json.load(f)

        author_info_list.append(data)

In [102]:
author_id_list =[]
gender_list = []
hometown_list = []
author_book_list = []


for info in author_info_list:
    author_id = info['GoodreadsResponse']['author']['id']
    author_id_list.append(author_id)

    if 'gender' in info['GoodreadsResponse']['author']:
       gender_list.append(info['GoodreadsResponse']['author']['gender'])
    else:
        gender_list.append(0)
    
    if 'hometown' in info['GoodreadsResponse']['author']:
        hometown_list.append(info['GoodreadsResponse']['author']['hometown'])
    else:
        hometown_list.append(0)
    
    each_author_book_dict = {}
    books = info['GoodreadsResponse']['author']['books']['book']

    for book in books:
        try:
            book_title = book['title']
            book_isbn13 = book['isbn13']
            book_average_rating = book['average_rating']
            book_publisher = book['publisher']
            each_author_book_dict={'book_title':book_title,
                                   'book_isbn13':book_isbn13,
                                   'book_average_rating':book_average_rating,
                                   'book_publiser':book_pubiliser}

        except TypeError:
            pass
    author_book_list.append(each_author_book_dict)

In [125]:
df_author_info = pd.DataFrame({'author_id':author_id_list,
                  'gender':gender_list,
                  'hometown':hometown_list,
                  'books':author_book_list
                  })  
df_author_info.head()

,author_id,gender,hometown,books
0,14980615,female,"Albuquerque, New Mexico",{'book_title': 'I Choose Peace: Raw Stories of...
1,33280,None,"Cleveland, OH",{'book_title': 'The Adventures of Super Diaper...
2,61105,male,"Springfield, MA","{'book_title': 'Fox in Socks', 'book_isbn13': ..."
3,3362,male,"Syracuse, New York","{'book_title': 'Papa, Please Get the Moon for ..."
4,4880403,female,None,{'book_title': 'The Wonderful Baby You Are: A ...

In [124]:
df_author_info.loc[0,'books']

{'book_title': 'I Choose Peace: Raw Stories of Real People Finding Contentment and Happiness',
 'book_isbn13': {'@nil': 'true'},
 'book_average_rating': '4.28',
 'book_publiser': 'Little Brown and Company'}