In [43]:
# Dependencies and Setup
import pandas as pd
import csv
#import os

In [44]:
# File to Load (Remember to Change These)
books_data_to_load = "Resources/book900k-1000k.csv"

# Read data file into into Pandas dataframe
books_df = pd.read_csv(books_data_to_load)
#books_df.head()

In [45]:
books_df.shape

(40890, 20)

In [46]:
books_df.describe()

,Id,Rating,PublishYear,PublishMonth,PublishDay,CountsOfReview,pagesNumber,Count of text reviews
count,40890.000000,40890.000000,40890.000000,40890.000000,40890.000000,40890.000000,40890.000000,40890.000000
mean,949177.751431,3.469541,1998.890584,9.709636,6.346075,8.834238,276.196747,8.834238
std,29062.356909,1.242119,8.462135,10.235637,3.565110,71.253610,505.166816,71.253610
min,900000.000000,0.000000,1899.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,923881.250000,3.470000,1995.000000,1.000000,3.000000,0.000000,153.000000,0.000000
50%,948838.500000,3.840000,2001.000000,4.000000,6.000000,1.000000,241.000000,1.000000
75%,974600.250000,4.090000,2005.000000,17.000000,9.000000,4.000000,340.000000,4.000000
max,999998.000000,5.000000,2020.000000,31.000000,12.000000,6495.000000,80500.000000,6495.000000

In [47]:
# columns = books_df.columns
# columns

In [48]:
removed_columns = ['RatingDist5', 'RatingDist4',
               'RatingDist3', 'RatingDist2', 'RatingDist1', 'pagesNumber',
                'RatingDistTotal', 'Count of text reviews', 'CountsOfReview','Description']

In [49]:
# drop unused columns
books_df.drop(columns = removed_columns, inplace=True)

In [50]:
# books_df.columns

In [51]:
# rename columns
books_df = books_df.rename(columns={'Id':'BookId', 'Name':'Title', 'Authors':'AuthorName',
                                    'PublishYear':'PublishY', 'PublishMonth':'PublishD', 
                                    'PublishDay':'PublishM'})

books_df.head()

,BookId,Title,AuthorName,ISBN,Rating,PublishY,PublishD,PublishM,Publisher,Language
0,900000,Cabinet 03: Weather,Jeffrey Kastner,1932698019,4.00,2004,2,1,Cabinet,NaN
1,900001,"Workouts in a Binder for Swimmers, Triathletes...",Nick Hansen,1931382743,4.48,2005,18,11,Velo Press,NaN
2,900002,Las 120 jornadas de Sodoma,Marquis de Sade,8472233847,3.12,1992,1,3,TusQuets,NaN
3,900004,The Traveler: An American Odyssey in the Himal...,Eric Hansen,0871563509,4.18,1995,6,6,"Random House, Inc.",NaN
4,900006,Vertical Smile,Richard Condon,0297994026,3.74,1972,20,4,Littlehampton Book Services Ltd,NaN

In [52]:
# remove 'X' character exists in the ISBN  

books_df['ISBN'] = books_df['ISBN'].astype(str)
books_df['ISBN'] = books_df.ISBN.apply(lambda x: x.rstrip('X'))

In [53]:
books_df.head()

,BookId,Title,AuthorName,ISBN,Rating,PublishY,PublishD,PublishM,Publisher,Language
0,900000,Cabinet 03: Weather,Jeffrey Kastner,1932698019,4.00,2004,2,1,Cabinet,NaN
1,900001,"Workouts in a Binder for Swimmers, Triathletes...",Nick Hansen,1931382743,4.48,2005,18,11,Velo Press,NaN
2,900002,Las 120 jornadas de Sodoma,Marquis de Sade,8472233847,3.12,1992,1,3,TusQuets,NaN
3,900004,The Traveler: An American Odyssey in the Himal...,Eric Hansen,0871563509,4.18,1995,6,6,"Random House, Inc.",NaN
4,900006,Vertical Smile,Richard Condon,0297994026,3.74,1972,20,4,Littlehampton Book Services Ltd,NaN

In [54]:
# removing character ',' in the Title, AuthorName and Publisher
books_df['Title'] = books_df.Title.replace(',','', regex=True)

books_df['Publisher'] = books_df.Publisher.replace(',','', regex=True)

books_df['AuthorName'] = books_df.AuthorName.replace(',','', regex=True)

In [64]:
# removing character '"' in the Title and Publisher
books_df['Title'] = books_df.Title.replace('"','', regex=True)

books_df['Publisher'] = books_df.Publisher.replace('"','', regex=True)

In [55]:
# replace all NaN value in Language column by eng

values ={'Language':'eng'}
books_df.fillna(value = values, inplace=True)

In [56]:
# remove duplicate
books_df.drop_duplicates(subset=['BookId'], inplace=True)

In [65]:
# save to csv file
books_df.to_csv("Resources/books.csv", index=False)

### cleaned books

In [ ]:
# before: there was 40,890 records and 20 columns with NaN value in Language

# after: removed ten columns ('RatingDist5', 'RatingDist4',
#     'RatingDist3', 'RatingDist2', 'RatingDist1', 'RatingDistTotal',
#     'pagesNumber','Count of text reviews', 'CountsOfReview', 'Description') from the dataset
# rename 'Id' to 'Book_id' and 'Name' to 'Title'
# replace all NaN value in Language by 'eng'

# observastion: in the cleaned_books dataset there is "blank" and date ("10/18/2020") 
# value in publisher column. please take this into consideration when using the cleaned_books dataset.

### cleaned authors

In [ ]:
# File to Load 
data_to_load = "Resources/author_info.csv"

# Read data file into into Pandas dataframe
authors_info = pd.read_csv(data_to_load)
authors_info.head()

In [ ]:
authors_info.drop(columns=['Unnamed: 0','books'], inplace=True)

In [ ]:
# rename columns AuthorId
authors_info = authors_info.rename(columns={'author_id':'AuthorId', 'gender':'Gender', 'hometown':'Hometown'})

In [ ]:
authors_info.shape

In [ ]:
# loading author_id file
data_to_load = "Resources/author_id.csv"

# Read data file into into Pandas dataframe
authors_id = pd.read_csv(data_to_load)
authors_id.head()

In [ ]:
# drop unused column
authors_id.drop(columns=['Unnamed: 0'])

In [ ]:
# merge authors_df with author_id_df

authors_df = authors_info.merge(authors_id, on = 'AuthorId')

In [ ]:
authors_df = authors_df[['AuthorId','AuthorName', 'Gender', 'Hometown']]
authors_df.head()

In [ ]:
authors_df.drop_duplicates(subset=['AuthorId'], inplace=True)

In [ ]:
authors_df.shape

In [ ]:
# saving to file
#authors_df.to_csv("Resources/authors.csv", index=False)

### cleaned author_book

In [ ]:
# loading author_info file
data_to_load = "Resources/author_and_books.csv"

# Read data file into into Pandas dataframe
author_book = pd.read_csv(data_to_load)
author_book.head()

In [ ]:
author_book.columns

In [ ]:
# drop unused columns
author_book.drop(columns=['Unnamed: 0','gender', 'hometown', 
                            'book_isbn13', 'book_average_rating', 'book_publisher'], inplace=True)

In [ ]:
# rename column and merge to create authors_df
author_book = author_book.rename(columns={'author_id':'AuthorId', 
                                          'book_title':'Title','book_isbn':'ISBN'})
#author_book.head()

In [ ]:
#author_book.shape

In [ ]:
#books_df.shape

In [ ]:
#books_df.columns

In [ ]:
col_books_df = books_df.copy()

In [ ]:
col_books_df.drop(columns=['Authors', 'ISBN', 'Rating', 'PublishY', 'PublishD',
       'PublishM', 'Publisher', 'Language'], inplace=True)

In [ ]:
author_book_df = author_book.merge(col_books_df, on='Title')

In [ ]:
#author_book_df.shape

In [ ]:
author_book_df.drop(columns = ['Title','ISBN'], inplace=True)
#author_book_df.head()

In [ ]:
# remove duplicate data
author_book_df.drop_duplicates(subset=['AuthorId','BookId'], inplace=True)

#author_book_df.reset_index(inplace=True)
# author_book_df.shape

### check and mark if the book title is in bestsellers

In [ ]:
# loading bestsellers file
data_to_load = "Resources/bestsellers.csv"

# Read data file into into Pandas dataframe
bestsellers_df = pd.read_csv(data_to_load)
#bestsellers_df.head()

In [ ]:
# merge to get BookId for bestsellers dataframe
books_df = books_df.rename(columns={'Authors':'AuthorName'})
#books_df.columns

In [ ]:
bestsellers_df = bestsellers_df.merge(books_df, on='AuthorName')
#bestsellers_df.shape

In [ ]:
#bestsellers_df.columns

In [ ]:
bestsellers_df.drop(columns=['Unnamed: 0','Title_x', 'Rating_x', 'PublishY_x',
                             'PublishD', 'PublishM', 'Publisher', 'Language'], inplace=True)

In [ ]:
#bestsellers_df = bestsellers_df.merge(books_df, on='AuthorName')
# bestsellers_df.columns

In [ ]:
bestsellers_df = bestsellers_df.rename(columns = {'Title_y':'Title', 'Rating_y':'Rating', 'PublishY_y':'PublishY'})
#bestsellers_df.head()

In [ ]:
bestsellers_df.drop_duplicates(subset='BookId', inplace=True)
bestsellers_df.shape

In [ ]:
# save to file
#bestsellers_df.to_csv('Resources/bestsellers_book.csv', index=False)

In [ ]:
# verify if BookId in author_book is bestseller and store value to BestSeller column in author_book (True/False)

# assign BookId from author_book to book_list
book_list = author_book_df['BookId']

# assign BookId from bestseller_df to bestSellers_list
bestSellers_list = bestsellers_df['BookId']

In [ ]:
# checking if the book_list is in bestseller_list
bestseller = book_list.isin(bestSellers_list)
bestseller

In [ ]:
# storing result back into author_book_df
author_book_df['BestSeller'] = bestseller
author_book_df.head()

In [ ]:
# save to file
#author_book_df.to_csv('Resources/author_book.csv', index=False)

## dataset after cleaning include:
   #### books:   BookId, Title, AuthorName, ISBN, Rating, PublishY, PublishD, PublishM, Publisher, Language
   #### authors:  AuthorId, AuthorName, Gender, Hometown
   #### author_book:  AuthorId, BookId, BestSeller