In [1]:
# Dependencies and Setup
import pandas as pd
import csv
#import os

In [2]:
# File to Load (Remember to Change These)
books_data_to_load = "Resources/book900k-1000k.csv"

# Read data file into into Pandas dataframe
books_df = pd.read_csv(books_data_to_load)
#books_df.head()

In [4]:
books_df.shape

(40890, 20)

In [5]:
books_df.describe()

,Id,Rating,PublishYear,PublishMonth,PublishDay,CountsOfReview,pagesNumber,Count of text reviews
count,40890.000000,40890.000000,40890.000000,40890.000000,40890.000000,40890.000000,40890.000000,40890.000000
mean,949177.751431,3.469541,1998.890584,9.709636,6.346075,8.834238,276.196747,8.834238
std,29062.356909,1.242119,8.462135,10.235637,3.565110,71.253610,505.166816,71.253610
min,900000.000000,0.000000,1899.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,923881.250000,3.470000,1995.000000,1.000000,3.000000,0.000000,153.000000,0.000000
50%,948838.500000,3.840000,2001.000000,4.000000,6.000000,1.000000,241.000000,1.000000
75%,974600.250000,4.090000,2005.000000,17.000000,9.000000,4.000000,340.000000,4.000000
max,999998.000000,5.000000,2020.000000,31.000000,12.000000,6495.000000,80500.000000,6495.000000

In [6]:
columns = books_df.columns
columns

Index(['Id', 'Name', 'Authors', 'ISBN', 'Rating', 'PublishYear',
       'PublishMonth', 'PublishDay', 'Publisher', 'RatingDist5', 'RatingDist4',
       'RatingDist3', 'RatingDist2', 'RatingDist1', 'RatingDistTotal',
       'CountsOfReview', 'Language', 'pagesNumber', 'Description',
       'Count of text reviews'],
      dtype='object')

In [7]:
# drop unused columns
books_df.drop(columns = ['RatingDist5', 'RatingDist4',
               'RatingDist3', 'RatingDist2', 'RatingDist1', 'pagesNumber',
                'RatingDistTotal', 'Count of text reviews', 'CountsOfReview'], inplace=True)

In [8]:
#books_df.head()

In [9]:
# checking number of language in the books dataset
language_counts = books_df.groupby('Language').count()
language_counts.shape

(30, 10)

In [10]:
# replace all NaN value in Language column by eng

values ={'Language':'eng'}
books_df.fillna(value = values, inplace=True)

In [11]:
books_df.head()

# save to csv file
books_df.to_csv("Resources/cleaned_books.csv", index=False)

In [ ]:
rating_counts = books_df.groupby("Rating").count()
rating_counts.head()
#rating_counts.shape

In [ ]:
author_counts = author_list = books_df.Authors.nunique()
author_counts

In [ ]:
author_list = books_df.groupby("Authors").nunique()['Authors']

In [ ]:
author_list_df = pd.DataFrame(author_list)

In [ ]:
# rename column and reset index
author_list_df = author_list_df.rename(columns={'Authors':'Count'})
author_list_df.reset_index(inplace=True)
author_list_df

In [ ]:
# sort authors list  by name
author_list_df = author_list_df.sort_values(["Authors"], ascending = True)
#author_list_df.tail()

In [ ]:
# save to csv file
author_list_df.to_csv("Resources/authors_list.csv", index=False)

### cleaned books

In [ ]:
# before: there was 40,890 records and 20 columns with NaN value in Language

# after: removed ten columns ('RatingDist5', 'RatingDist4',
#     'RatingDist3', 'RatingDist2', 'RatingDist1', 
#     'RatingDistTotal','pagesNumber','Count of text reviews') from the dataset

# observastion: in the cleaned_books dataset there is "blank" and date ("10/18/2020") 
# value in publisher column. please take this into consideration when using the cleaned_book dataset.